
<div class="dashboard">

  <!-- Left side navigation -->
  <aside class="sidebar">

    <h2>Admin Panel</h2>

    <nav>
      <a>Dashboard</a>
     <a routerLink="/admin-product">Products</a>
      <a>Categories</a>
      <a>Schools</a>
      <a>Classes</a>
      <a>Orders</a>
      <a>Users</a>
    </nav>

    <button (click)="confirmLogout()">Logout</button>

  </aside>

  

  <main class="main-content">

    <h1>Admin Dashboard</h1>

    <p>Welcome, Admin</p>


    <!-- Dashboard cards -->
    <div class="cards">

      <div class="card">
        <h3>Products</h3>
        <p>25</p>
      </div>

      <div class="card">
        <h3>Orders</h3>
        <p>40</p>
      </div>

      <div class="card">
        <h3>Users</h3>
        <p>15</p>
      </div>

    </div>

  </main>

</div>

@if (showLogoutPopup) {
  <div class="popup-overlay">
    <div class="logout-popup">
      <h2>Confirm Logout</h2>
      <p>Are you sure you want to logout?</p>

      <button (click)="logout()">Yes</button>
      <button (click)="cancelLogout()">No</button>
    </div>
  </div>
}

@if (showLogoutSuccessPopup) {
  <div class="popup-overlay">
    <div class="success-popup">
      <div class="check-icon">✓</div>
      <h2>Logout Successful</h2>
      <p>{{ logoutMessage }}</p>
    </div>
  </div>
}