<div class="login-page">

  <div class="login-card">

    <h1>Login</h1>

    <input
      type="email"
      placeholder="Email"
      [(ngModel)]="email"
    />

    <input
      type="password"
      placeholder="Password"
      [(ngModel)]="password"
    />

    <button
      type="button"
      (click)="login()"
    >
      Login
    </button>

    <p>
      Don't have an account?
      <a routerLink="/register">Register</a>
    </p>

    <p>
      Forgot your password?
      <a routerLink="/forgot-password">Forgot Password</a>
    </p>

  </div>


  <!-- Login Message Popup -->

  @if (showMessagePopup()) {

    <div class="popup-overlay">

      <div class="success-popup">

        @if (messageType() === 'error') {

          <div class="error-icon">
            !
          </div>

        } @else {

          <div class="check-icon">
            ✓
          </div>

        }

        <h2>{{ messageTitle ()}}</h2>

        <p>
          {{ messageText ()}}
        </p>

        <button
          type="button"
          (click)="closeMessagePopup()"
        >
          OK
        </button>

      </div>

    </div>

  }

</div>